.interactions {
  pointer-events: all;
  overflow: hidden;
  position: fixed;
  z-index: 3;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  top: 50%;
  right: 0;
  padding: 1rem;
  margin: 1rem;
  width: 20%;
  height: 50%;
  overflow: none;
  word-wrap: break-word;
}
