.overlay {
  position: fixed;
  z-index: 3;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  &-title {
    overflow: inherit;
    padding: 1rem;
    padding-top: 2rem;
    color: white;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgb(0, 0, 0);
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.2) 25%,
      rgba(0, 0, 0, 0.5) 50%,
      rgba(0, 0, 0, 1) 100%
    );
  }
  &-enter {
    opacity: 0;
    background-color: blue;
  }
  &-enter-active {
    opacity: 1;
    transition: opacity 200ms;
  }
  &-exit {
    opacity: 1;
    transition: opacity 200ms;
  }
  &-exit-active {
    opacity: 0;
  }
}
